---
import Layout from "../layouts/Layout.astro"
---
<Layout title="Monoz AoE">
    <div class="hero-content">
        <div class="text-start text-2xl texto-claro content-wrapper">
            <p class="m-3">Encontra todo la informacion del coaching y dejame tu contacto para que pueda ponerme en contactarmecon vos. Cuento con una amplia disponibilidad horaria, y un cupo de 10 alumnos por mes, reserva tu lugar!</p> 
        </div>
        <a class="links flex justify-center text-4xl" href="https://docs.google.com/forms/d/17iyuuM47iHcMjpOUhoCHDeTy5AxzkgtseQVAzv3QXO0" target="_blank">Inscribite aca</a>
    </div>
</Layout>