---
import Layout from "../layouts/Layout.astro";

---

<Layout title="Monoz AoE">
  <main>
    <div class="hero-content">
      <h1>MONOZ</h1>
      <p class="subtitle">Jugador Híbrido Asintomático</p>

      <div class="stats">
        <div class="stat-box">
          <h3>ELO</h3>
          <p>2500</p>
        </div>
        <div class="stat-box">
          <h3>Victorias</h3>
          <p>1500+</p>
        </div>
        <div class="stat-box">
          <h3>Civilización Favorita</h3>
          <p>Mayans</p>
        </div>
      </div>

      <div class="social-links">
        <a href="https://www.twitch.tv/monoz_aoe" target="_blank"
          ><i class="fab fa-twitch"></i></a
        >
        <a href="https://instagram.com/monozaoe" target="_blank"
          ><i class="fab fa-instagram"></i></a
        >
        <a href="https://www.youtube.com/@monozaoe" target="_blank"
          ><i class="fab fa-youtube"></i></a
        >
        <a href="https://kick.com/monoz-aoe" target="_blank"
          ><i class="fa-brands fa-kickstarter"></i></a
        >
        <a href="https://discord.gg/nEZgmkr2qE" target="_blank"
          ><i class="fab fa-discord"></i></a
        >
      </div>
    </div>
  </main>
</Layout>
