---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Monoz AoE">
  <main>
    <div class="hero-content">
      <h1>MONOZ</h1>
      <p class="subtitle">Jugador Híbrido Asintomático</p>

      <div class="stats">
        <div class="stat-box">
          <h3>ELO</h3>
          <p>2500</p>
        </div>
        <div class="stat-box">
          <h3>Victorias</h3>
          <p>1500+</p>
        </div>
        <div class="stat-box">
          <h3>Civilización Favorita</h3>
          <p>Mayans</p>
        </div>
      </div>

      <div class="social-links">
        <a href="https://www.twitch.tv/monoz_aoe" target="_blank"
          ><i class="fab fa-twitch"></i></a
        >
        <a href="https://instagram.com/monozaoe" target="_blank"
          ><i class="fab fa-instagram"></i></a
        >
        <a href="https://www.youtube.com/@monozaoe" target="_blank"
          ><i class="fab fa-youtube"></i></a
        >
        <a href="https://kick.com/monoz-aoe" target="_blank"
          ><i class="fa-brands fa-kickstarter"></i></a
        >
        <a href="https://discord.gg/nEZgmkr2qE" target="_blank"
          ><i class="fab fa-discord"></i></a
        >
      </div>

      <!-- <div id="sobre-mi">
				Mi nombre es Leandro, soy un jugador argentina de Age of Empires 2 tengo 31 años  y actualmente soy líder del clan zZ (Dreamers), estoy entre los mejores 75 jugadores del mundo con un elo máximo de 2500.  Juego al age of empires hace 15 años tengo mucho experiencia en team games y soy un apasionado de este juego ya que me gusta mucho la historia, las estadísticas y las mecánicas de juego. Tambien formo parte de la selección argentina desde hace 3 mundiales (2017,2023,2024) junto a varios integrantes de zZ. Jueg al princpio en irc, igz y voolby antes del lanzamiento del definitive edition.
		Disfruto mucho de streamear, y enseñar mis conocimientos, conceptos e ideas.
			  </div> -->
    </div>
  </main>
</Layout>
