---
import Layout from "../layouts/Layout.astro"
---
<Layout title="Monoz AoE">
    <div class="text-start text-2xl px-41 font-semibold texto-claro" style="padding: 0 20vw;">
        <p class="m-3">Mi nombre es Leandro, soy un jugador argentina de Age of Empires 2 tengo 31 años  y actualmente soy líder del clan zZ (Dreamers).</p> 
        <p class="m-3">Estoy entre los mejores 75 jugadores del mundo con un elo máximo de 2500.  </p>
        <p class="m-3">Juego al age of empires hace 15 años tengo mucho experiencia en team games y soy un apasionado de este juego ya que me gusta mucho la historia, las estadísticas y las mecánicas de juego. Tambien formo parte de la selección argentina desde hace 3 mundiales (2017,2023,2024) junto a varios integrantes de zZ. </p>
        <p class="m-3">Juego al princpio en irc, igz y voolby antes del lanzamiento del definitive edition. </p>
        <p class="m-3">Disfruto mucho de streamear, y enseñar mis conocimientos, conceptos e ideas.</p>
    </div>

</Layout>